@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Caveat+Brush&family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Ojuju:wght@200..800&family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.app-container {
    background-color: rgba(222, 222, 222, 0.801);
    height: 100vh;
    width: 100vw;
    display: flex;
    gap: 1rem;
}

.content-container {
    width: 85vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content {
    margin: 0 1rem 1rem 0;
    height: 95vh;
    display: flex;
    gap: 1rem;
}

.navbar {
    /* width: 15vw; */
    height: 100vh;
}
.navbar ul {
    border-right: 1px solid rgb(207, 206, 206);
    background-color: white;
    padding: 0.5rem;
    padding-left: 0;
    height: 100%;
    width: 15vw;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;    
}

li svg {
    margin-right: 0.5rem;
}
  
li a {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    height: 5vh;
    padding: 1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(114, 114, 114);
}

li a:hover {
    background-color: rgb(232, 208, 255);
    color: blueviolet;
}

#nav-dashboard {
    background-color: rgb(232, 208, 255);
    color: blueviolet;
}

.header-container {
    border-bottom: 1px solid rgb(207, 206, 206);
    height: 5vh;
}

.header {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: white;
    width: max-content;
    height: 100%;
    padding: 0.5rem;
    color: #8a2be2;
}

.graph-container {
    border: 1px solid rgb(207, 206, 206);
    border-radius: 0.5rem;
    background-color: white;    
    height: 100%;
    /* width: 65%; */
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.graph-header {
    border-bottom: 1px solid rgb(207, 206, 206);
    padding: 1rem 0.5rem;
    font-weight: 500;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.graph {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#graph-img {
    width: 100%;
}

.chart-container {
    border: 1px solid rgb(207, 206, 206);
    border-radius: 0.5rem;
    background-color: white;
    /* width: 35%; */
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.chart-header {
    border-bottom: 1px solid rgb(207, 206, 206);
    padding: 1rem 0.5rem;
    font-weight: 500;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

#chart-img {
    width: 100%;
    margin-top: 3rem;
}

@media screen and (max-width: 800px) {
    .navbar ul {
        width: max-content;
    }

    .nav-text {
        display: none;
    }

    li a {
        align-items: center;
    }

    li svg {
        margin: 0;
    }
}

/* @media screen and (min-width: 801px) */